* {margin: 0;
    padding: 0;}

.contenaire {background-color: slategray;
            width: 200px;
            height: 200px;
            left: 50px;
            top : 50px;
            margin-left: 80px;
            margin-block-start: 80px;}