* {margin: 0;
  padding: 0;}
     
.contenair {display: grid;
            row-gap : 80px;
            grid-template-columns: 20% 20% 20%;
            margin-block-start: 80px;
            margin-left: 80px;}

.carre1,.carre3, .carre5 {background-color: slategray;
    width: 300px;
    height: 300px;
    border-radius: 50%;}


.carre2, .carre4, .carre6 {background-color: slategray;
        width: 300px;
        height: 300px;}