*{margin: 0;
padding: 0;}

.contenair {display: inline-flex;}
        
.carre1, .carre2 {background-color: slategray;
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-block-start: 80px;}