.carre1 {background-color: slategray;
    width: 300px;
    height: 300px;
    left: 50px;
    top : 50px;
    margin-left: 80px;
    margin-block-start: 80px;
    display: inline-flex;}


.carre2 {background-color: slategray;
        width: 300px;
        height: 300px;
        left: 50px;
        top : 50px;
        margin-left: 80px;
        margin-block-start: 80px;
        display: inline-flex;}

.carre3 {background-color: slategray;
        width: 300px;
        height: 300px;
        left: 50px;
        top : 50px;
        margin-left: 80px;
        margin-block-start: 80px;
        display: inline-flex;}    

.carre4 {background-color: slategray;
         width: 300px;
        height: 300px;
        left: 50px;
        top : 50px;
        margin-left: 80px;
        margin-block-start: 80px;
        display: inline-flex;}

.carre5 {background-color: slategray;
         width: 300px;
        height: 300px;
        left: 50px;
        top : 50px;
        margin-left: 80px;
        margin-block-start: 80px;
        display: inline-flex;}

.carre6 {background-color: slategray;
         width: 300px;
         height: 300px;
        left: 50px;
        top : 50px;
        margin-left: 80px;
        margin-block-start: 80px;
        display: inline-flex;}